* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #FFFFFF;
  height: 140px;
  width: 100%;
  padding: 30px;

  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e50043; /*ссылки не подкрашиваются (см. ниже)*/

  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

a:any-link {
  color: #e50043; /*подкрашиваю ссылки здесь*/
}

.hero-block {
  background-image: url(../Practice-5/images/evian_origins_logo.png);
  margin-top: 140px; /*для того, чтобы header не налазил на кртинку*/
  height: 950px;
  background-size: cover; /*Размеры из Фигмы не перекрывают всё пространство браузера, поэтому оставил высоту и добавил "cover". 
  Видимо картинка немного растянулась по горизонтали. Но это лучший из вариантов, которые я пробовал.*/

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-block-text {
  color: #e50043;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
}

.container-block-1 {
  display: flex;
  justify-content: center;
}

.block-1 {
  width: 1040px;
  padding: 15px;
  border-color: #F8BFC7;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;  
  margin: 120px 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.block-1-header {
  margin-bottom: 15px;
}

.block-2 {
  display: flex;
  justify-content: space-around;
}

.bottles {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.text-under-bottle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.container-block-3 {
  display: flex;
  justify-content: center;
}

.block-3 {
  display: flex;
  justify-content: start;
}

.block-3-picture {
  background-image: url(../Practice-5/images/glass.png);
  height: 220px;
  width: 101px;
  margin: 15px 80px;
}

.block-3-text {
  width: 749px;
  margin: 15px;
}

.block-3-text-p {
  margin-bottom: 20px;
}

.container-footer {
  padding: 0 30px;
  background-color: #F8BFC7;
  height: 140px;
  display: flex;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color:#FFFFFF;
}