* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
.header-footer {
  height: 160px;
  background: #FFE138;

  font-family: 'Times New Roman', Times, serif;
  font-size: 42px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.page {
  padding: 70px 45px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.column {
  margin: 0px 25px;
  width: 400px;
  border: 1px solid black;
}
.a-picture img {
  width: 100%;/*картинка будет подстраиваться под ширину контейнера*/
}
.textblock {
  margin: 30px;
}
.signature {
  margin-top: 20px;
}
